* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  display: flex;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 15, 56);
  border: 1px solid black;
  flex-grow: 1;
}

#menu-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(171, 171, 171, 0.426);
  width: 100%;
  flex-grow: 1;
}

#menu-buttons {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

#game-screen {
  display: none;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(171, 171, 171, 0.426);
  width: 100%;
  flex-grow: 1;
}

input[type='text'] {
  padding: 1rem 2rem;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 24px;
}

button {
  padding: 1rem 2rem;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  font-size: 24px;
}

button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#game-board {
  display: flex;
  justify-content: center;
  gap: 10rem;
  width: 100%;
  flex-grow: 3;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 80vh;
  padding-bottom: 100px;
}

#game-info {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-grow: 1;
}

#player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#computer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  width: 500px;
  height: 500px;
  border: 1px solid pink;
  display: flex;
  flex-wrap: wrap;
}

.computerSquare {
  width: 50px;
  height: 50px;
  background-image: url('../images/water.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.computerSquare:hover {
  background-image: url('../images/hover.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.computerSquare:active {
  background-color: red;
  background-image: none;
}

.playerSquare {
  width: 50px;
  height: 50px;
  background-image: url('../images/water.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  background-position: center;
}

.hit {
  background-image: url('../images/hit.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.red {
  cursor: pointer;
  background-image: url('../images/hover.png');
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.1s ease-in-out;
}

.missed {
  background-image: url('../images/miss.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

select {
  padding: 1rem 2rem;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 24px;
}

#game-over-screen {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(171, 171, 171, 0.426);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

#game-over-text {
  font-size: 48px;
  margin-bottom: 2rem;
}

#restart-game-btn {
  padding: 1rem 2rem;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  font-size: 24px;
  margin-bottom: 2rem;
}

#restart-game-btn:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#restart-game-btn:active {
  background-color: #fff;
  color: #000;
}

.computer-carrier,
.computer-battleship,
.computer-cruiser,
.computer-submarine,
.computer-destroyer {
  background-repeat: no-repeat;
  width: 40px;
  z-index: 2;
  position: relative;
  user-select: none;
  opacity: 1;
}

.carrier,
.battleship,
.cruiser,
.submarine,
.destroyer {
  background-repeat: no-repeat;
  width: 40px;
  background-position: 5px 0px;
  z-index: 2;
  position: relative;
  opacity: 1;
}

.carrier,
.computer-carrier {
  background-image: url('../images/ships/Carrier.png');
}

.battleship,
.computer-battleship {
  background-image: url('../images/ships/Battleship.png');
}

.cruiser,
.computer-cruiser {
  background-image: url('../images/ships/Cruiser.png');
}

.submarine,
.computer-submarine {
  background-image: url('../images/ships/Submarine.png');
}

.destroyer,
.computer-destroyer {
  background-image: url('../images/ships/Destroyer.png');
}
